<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Add Customer</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form action="" method="post" novalidate>
        {% csrf_token %}
        {{name}}
        {{address}}
        {{contact}}
        {{Email}}
                    {{a}}
            {{b}}
            {{c}}
            {{d}}
            {{e}}
            {{f}}
            {{g}}
            {{h}}
            {{i}}
            {{j}}
            {{k}}
            {{l}}
            {{m}}
            {{n}}
            {{o}}
            {{p}}
            {{q}}
            {{r}}
            {{s}}
            {{t}}
            {{u}}
            {{v}}
            {{w}}
            {{x}}
            {{y}}
            {{z}}
            {{aa}}
            {{bb}}
            {{cc}}
            {{dd}}
            {{ee}}
            {{ff}}
            {{gg}}
            {{hh}}
            {{ii}}
            {{jj}}
            {{kk}}
            {{ll}}
            {{mm}}
            {{nn}}
            {{oo}}
            {{pp}}
            {{qq}}
            {{rr}}
            {{ss}}
            {{tt}}
            {{uu}}
            {{vv}}
            {{ww}}
            {{xx}}
            {{yy}}
    </body>
    <a href ='{% url 'logout' %}'> Logout</a>
</html>