
{% extends 'header.html' %}
{% load static %}
{% block content %}

<div>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Framing Details</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=0">
        <link rel="stylesheet" href="">
    </head>
    <link rel="stylesheet" type = "text/css" href="{% static 'css/style1.css' %}"> 
    <div class ="mainarea" >
        <form action="" method="post" novalidate>
        {% csrf_token %}    
        <h1> Framing Details </h1>    
        {% for fm2 in form %}
        {{fm2.label_tag}}
            {{fm2}}<br><br>
        {% endfor %} 
        
        <input type='submit' value = "Submit">

        <h3> This page estimate = {{estimate|floatformat:2}} </h3>
        </form>
        {% if messages %}
        {% for message in messages %}
        <small {% if messages.tags %} class = '{{ messages.tags }}' {% endif %}>{{message}}</small>
        {% endfor %}
        {% endif %}
    </div>
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/savy.min.js' %}"></script>
    <script type="text/javascript">
    
        //$('.auto-save').savy('load') --> can be used without callback
       
        $('.auto-save').savy('load',function(){
             console.log("All data from savy are loaded");
        });
            
        
        function dstry(){
          //$('.auto-save').savy('destroy') --> can be used without callback
          $('.auto-save').savy('destroy',function(){
            console.log("All data from savy are Destroyed");
            window.location.reload();
          });
        }   
        </script>
{% endblock %}