
{% extends 'header.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type = "text/css" href="{% static 'css/style1.css' %}"> 
<div class ="mainarea" >
    <form action="" method="post" novalidate>
    {% csrf_token %}        
    {% for fm21 in form %}
    {{fm21.label_tag}}
        {{fm21}}<br><br>
    {% endfor %} 
    
    <input type='submit' value = "Submit">
    </form>
    {% if messages %}
    {% for message in messages %}
    <small {% if messages.tags %} class = '{{ messages.tags }}' {% endif %}>{{message}}</small>
    {% endfor %}
    {% endif %}
</div>
   
{% endblock %}