
{% extends 'header.html' %}
{% load static %}
{% block content %}
<head>     
    <title>Tile Details</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/app.js' %}"></script>        
</head>
<link rel="stylesheet" type = "text/css" href="{% static 'css/style1.css' %}"> 
<div class ="mainarea" >
    <form action="" method="post" novalidate>
    {% csrf_token %}   
    <h1> Tile Details </h1>    
        {% for fm14 in form %}
        {{fm14.label_tag}}
            {{fm14}}<br><br>
        {% endfor %} 
    
    <input type='submit' value = "Submit">

    <br><br>
    <h3> This page estimate = {{estimate|floatformat:2}} </h3>
    </form>
    {% if messages %}
    {% for message in messages %}
    <small {% if messages.tags %} class = '{{ messages.tags }}' {% endif %}>{{message}}</small>
    {% endfor %}
    {% endif %}
</div>
   
{% endblock %}