*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.mainarea{
  height: 40%;
  margin-top: 0%;
  padding-top: 5%;
  float: right;
  background-color: #fac3a4;
  width: 85%;
  text-align: center;
  
}
.mainarea label{
  font-size: 30px;
   
}
.mainarea table{
  border : 200px;
  text-align: center;
}
.xyz tbody{

  border :500px; 
}  

.mainarea input{
  background-color: #b83230;
  margin-top: 10px;

}
.sidebar{
  position: absolute;
  width: 15%;
  left: 0;
  height: 100%;
  background: #1e2a4b;
  transition: all .5s ease;
 
}
.sidebar header{
  font-size: 15px;
  color: white;
  line-height: 50px;
  text-align: center;
  background: #b83230;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
}
.sidebar a{
  display: block;
  height: 5%;
  width: 100%;
  color: white;
  line-height: auto;
  padding-left: 5%;
  padding-top: 3%;
  box-sizing: border-box;
  border-bottom: 2px solid black;
  border-top: 2px solid rgba(255,255,255,.1);
  border-left: 5px solid transparent;
  font-family: 'Open Sans', sans-serif;
  transition: all .5s ease;
}
a.active,a:hover{
  border-left: 5px solid #a4c6fa;
  color: #1e2a4b;
  background-color: #dbe9ff;
}
.sidebar a i{
  font-size: 15px;
  margin-right: 5%;
}
.sidebar a span{
  letter-spacing: 1px;
  text-transform: uppercase;
}
/* #check{
  display: none;
} */
label #btn,label #cancel{
  position: absolute;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  border: 1px solid #262626;
  margin: 15px 30px;
  font-size: 29px;
  background: #262626;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  transition: all .5s ease;
}
label #cancel{
  opacity: 0;
  visibility: hidden;
}
/* #check:checked ~ .sidebar{
  left: 0; 
}*/
 #check:checked ~ label #btn{
  margin-left: 245px;
  opacity: 0;
  visibility: hidden; 
}
#check:checked ~ label #cancel{
  margin-left: 245px;
  opacity: 1;
  visibility: hidden;
}
@media(max-width : 860px){
  .sidebar{
    height: 100%;
    width: 20%;
    left: 0;
    margin: 0px 0;
    background: #1e2a4b;
  }
  header,#btn,#cancel{
    display: none;
  }
  span{
    font-size: 50%;
    position: fixed ;
    margin-left: 1%;
    opacity: 1;
    visibility: visible;
    background: #1e2a4b;
  }
  .sidebar a{
    height: 30px;
  }
  .sidebar a i{
    
    margin-left:0;
  }
  a:hover {
    width: 100%;
    
  }
  .sidebar a:hover span{
    opacity: 1;
    visibility: visible;
  }
}










/* For 2nd sidebar

.sidebar1{
  position: fixed;
  width: 15%;
  right: 0;
  height: 100%;
  background: #1e2a4b;
  transition: all .5s ease;
 
}
.sidebar1 header{
  font-size: 20px;
  color: white;
  line-height: 50px;
  text-align: center;
  background: #b83230;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
}
.sidebar1 a{
  display: block;
  height: 50px;
  width: 100%;
  color: white;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  border-left: 5px solid transparent;
  font-family: 'Open Sans', sans-serif;
  transition: all .5s ease;
}
a.active,a:hover{
  border-left: 5px solid #a4c6fa;
  color: #dbe9ff;
}
.sidebar1 a i{
  font-size: 23px;
  margin-right: 16px;
}
.sidebar1 a span{
  letter-spacing: 1px;
  text-transform: uppercase;
}
 #check{
  display: none;
} 
label #btn,label #cancel{
  position: absolute;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  border: 1px solid #262626;
  margin: 15px 30px;
  font-size: 29px;
  background: #262626;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  transition: all .5s ease;
}
label #cancel{
  opacity: 0;
  visibility: hidden;
}
 #check:checked ~ .sidebar1{
  left: 0; 
 } 
 #check:checked ~ label #btn{
  margin-left: 245px;
  opacity: 0;
  visibility: hidden; 
}
#check:checked ~ label #cancel{
  margin-left: 245px;
  opacity: 1;
  visibility: hidden;
}
@media(max-width : 860px){
  .sidebar1{
    height: auto;
    width: 70px;
    left: 0;
    margin: 100px 0;
  }
  header,#btn,#cancel{
    display: none;
  }
  span{
    position: absolute;
    margin-left: 23px;
    opacity: 0;
    visibility: visible;
  }
  .sidebar1 a{
    height: 60px;
  }
  .sidebar1 a i{
    margin-left: -10px;
  }
  a:hover {
    width: 200px;
    background: inherit;
  }
  .sidebar1 a:hover span{
    opacity: 1;
    visibility: visible;
  }
} */